.free {
	background: white;
	margin-top: 0.7rem;
	margin-right: 0.8rem;
	flex: 27%;
	transform: scale(1);
	text-align: center;
	transition: 0.4s transform ease-in-out;
	font-size: 0.904rem;
}
.amateur {
	transform: scale(1);
	transition: 0.4s transform ease-in-out;
	background: lightgrey;
	margin-top: 0.7rem;
	text-align: center;
	margin-right: 0.8rem;
	flex: 27%;
	font-size: 0.9rem;
}
.world {
	transform: scale(1);
	transition: 0.4s transform ease-in-out;
	background: lightgrey;
	margin-top: 0.7rem;
	text-align: center;
	margin-right: 0.8rem;
	flex: 27%;
	font-size: 0.9rem;
}
.premium {
	transform: scale(1);
	transition: 0.4s transform ease-in-out;
	margin-right: 0.8rem;
	background: white;
	margin-top: 0.7rem;
	text-align: center;
	font-size: 0.8rem;
	flex: 27%;
}
.box {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.box:hover {
	transform: scale(1.01);
}
.box table {
	width: 80%;
	margin: 0 auto;
}
.box input[type='text'] {
	width: 9rem;
	border: none;
	font-weight: bold;
	pointer-events: none;
	outline: none;
	margin-top: -0.6rem;
}
.box input[type='text']:first-child {
	border: 1px solid grey;
}
.box button {
	margin-top: 0.6rem;
}
.col {
	border: 1px solid grey;
	width: 100px;
	max-width: 10rem;
}

#table {
	width: 80% !important;
	margin: 0 auto;
}
#table .row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#table .row div {
	margin: auto;
	border: 1px solid grey;
}
.prem {
	margin-top: 1rem;
	font-size: 0.7rem;
}
.premium input {
	margin-top: 0.7rem;
}
